{% extends "default.html" %}

{% block body %}

<form method="POST" action="/inscripciones" enctype="multipart/form-data" class="col s12">
  {{ form.hidden_tag() }}

  <div class="container">
    <h4>Formulario de inscripción</h4>

    <div class="row">
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">map</i>
        {{ form.localidad(class = 'validate') }}
        {{ form.localidad.label }}
      </div>

      <div class="input-field col s12 l6">
        <i class="material-icons prefix">account_circle</i>
        {{ form.servidor(class = 'validate') }}
        {{ form.servidor.label }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">attach_money</i>
        {{ form.monto(class = 'validate') }}
        {{ form.monto.label }}
      </div>

      <div class="input-field col s12 m6">
        <i class="material-icons prefix">access_time</i>
        {{ form.fecha(class = 'datepicker') }}
        {{ form.fecha.label }}
      </div>
    </div>

    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn black">
          <span>Subir</span>
          {{ form.comprobante_uri }}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Comprobante de pago" />
        </div>
      </div>
    </div>
  </div>

  <div style="background: #ddd">
    <div class="container last-post">
      {{ form.guardar(class = 'waves-effect waves-light btn black') }}
    </div>
  </div>
</form>

{% endblock %}
