{% extends "default.html" %}

{% block body %}

<div class="container">
  <br/>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4 class="header red-text">Participantes</h4>
        <p><b>Monto total:</b> {{ monto_total }} USD</p>
      </li>
      {% for participante in participantes %}
      <li class="collection-item avatar">
        <a href="/inscripciones/{{ inscripcion_id }}/participantes/{{ participante.id }}">
          <span class="title orange-text">{{ participante.nombres_completos }}</span>
        </a>
        <p><b>Monto: </b>{{ participante.monto }} USD<br/> <b>Nro. deposito: </b>{{ participante.numero_deposito }}</p>
        <a href="/inscripciones/{{ inscripcion_id }}/participantes/{{ participante.id }}/destroy" class="secondary-content"><i class="material-icons">delete</i></a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="fixed-action-btn">
    <a href="/inscripciones/{{ inscripcion_id }}/participantes/new" class="btn-floating btn-large blue darken-3">
       <i class="large material-icons">add</i>
    </a>
  </div>
</div>

{% endblock %}
