{% extends "default.html" %}

{% block body %}

<div class="container">
  <br/>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header"><h4 class="header red-text">Inscripciones</h4></li>
      {% for inscripcion in inscripciones %}
      <li class="collection-item">
        <a href="/inscripciones/{{ inscripcion.id }}">
          <h5 class="title orange-text">{{ inscripcion.localidad }}</h5>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
