{% extends "default.html" %}

{% block body %}

<form method="POST" enctype="multipart/form-data" class="col s12">
  {{ form.hidden_tag() }}

  <div class="container">
    <h4>Formulario de inscripción</h4>

    <div class="row">
      <div class="input-field col s12 l6">
        <i class="material-icons prefix">map</i>
        {{ form.localidad(class = 'validate') }}
        {{ form.localidad.label }}
      </div>

      <div class="input-field col s12 l6">
        <i class="material-icons prefix">account_circle</i>
        {{ form.servidor(class = 'validate') }}
        {{ form.servidor.label }}
      </div>
    </div>

    {% if feature.is_enabled("COMPROBANTE_PAGO") %}
    <div class="row">
      <div class="file-field input-field col s12">
        <div class="btn black">
          <span>Subir</span>
          {{ form.comprobante_uri }}
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Comprobante de pago" />
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="fixed-action-btn">
    <button type="submit" class="btn-floating btn-large black">
      <i class="large material-icons">save</i>
    </button>
  </div>

</form>

{% endblock %}
