{% extends "default.html" %}

{% block body %}

<form method="POST" class="col s12">
  {{ form.hidden_tag() }}

  <div class="container">
    <h4>Formulario de Participante</h4>

    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">person</i>
        {{ form.nombres_completos(class = 'validate') }}
        {{ form.nombres_completos.label }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">wc</i>
        {{ form.sexo(class = 'validate') }}
        {{ form.sexo.label }}
      </div>

      <div class="input-field col s12 m6">
        <i class="material-icons prefix">contact_phone</i>
        {{ form.telefono_contacto(class = 'validate') }}
        {{ form.telefono_contacto.label }}
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">attach_money</i>
        {{ form.monto(class = 'validate') }}
        {{ form.monto.label }}
      </div>

      <div class="input-field col s12 m6">
        <i class="material-icons prefix">receipt</i>
        {{ form.numero_deposito(class = 'validate') }}
        {{ form.numero_deposito.label }}
      </div>
    </div>
  </div>

  <div class="fixed-action-btn">
    <button type="submit" class="btn-floating btn-large black">
      <i class="large material-icons">save</i>
    </button>
  </div>
</form>

{% endblock %}
