{% extends "default.html" %}

{% block body %}

<div class="container">
  <br/>
  <div class="row">
    <div class="col s12">
      <h4 class="header red-text">Formulario de inscripción</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Identificador:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.id }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Nombre de la Localidad:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.localidad }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Nombre del servidor/a:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.servidor }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Monto total:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.total_amount() }}
    </div>
  </div>

  {% if feature.is_enabled("COMPROBANTE_PAGO") %}
  <div class="row">
    <div class="col s12 l6">
      <b>Comprobante de pago:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.comprobante_uri }}
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col s12 l6">
      <b>Participantes:</b>
    </div>

    <div class="col s12 l6">
      <a href="/inscripciones/{{ inscripcion.id }}/participantes">Ver participantes</a>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a href="/inscripciones/{{ inscripcion.id }}/edit" class="btn-floating btn-large blue darken-3">
       <i class="large material-icons">create</i>
    </a>
  </div>

</div>

{% endblock %}
