{% extends "default.html" %}

{% block body %}

<div class="container">
  <br/>
  <div class="row">
    <div class="col s12">
      <h4 class="header red-text">Detalle del Participante</h4>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Identificador:</b>
    </div>

    <div class="col s12 l6">
      {{ participante.id }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Nombres completos :</b>
    </div>

    <div class="col s12 l6">
      {{ participante.nombres_completos }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Sexo:</b>
    </div>

    <div class="col s12 l6">
      {{ participante.readable_sexo() }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Telefono contacto:</b>
    </div>

    <div class="col s12 l6">
      {{ participante.telefono_contacto }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Monto cancelado (USD)</b>
    </div>

    <div class="col s12 l6">
      {{ participante.monto }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Número de depósito</b>
    </div>

    <div class="col s12 l6">
      {{ participante.numero_deposito }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Fecha de inscripción</b>
    </div>

    <div class="col s12 l6">
      {{ participante.fecha_inscripcion }}
    </div>
  </div>

  <div class="fixed-action-btn">
    <a href="/inscripciones/{{ inscripcion_id }}/participantes/{{ participante.id }}/edit" class="btn-floating btn-large blue darken-3">
       <i class="large material-icons">create</i>
    </a>
  </div>

</div>

{% endblock %}
