{% extends "default.html" %}

{% block body %}

<div class="container">
  <br/>
  <div class="row">
    <div class="col s10">
      <h4 class="header red-text">Formulario de inscripción</h4>
    </div>
    <div class="col s2">
      <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">create</i></a>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Identificador:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.id }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Nombre de la Localidad:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.localidad }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Nombre del servidor/a:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.servidor }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Monto cancelado:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.monto }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Fecha de pago:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.fecha }}
    </div>
  </div>

  <div class="row">
    <div class="col s12 l6">
      <b>Comprobante de pago:</b>
    </div>

    <div class="col s12 l6">
      {{ inscripcion.comprobante_uri }}
    </div>
  </div>

</div>

{% endblock %}
