<footer class="page-footer red darken-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">{{ site['title'] }}</h5>
          <p class="grey-text text-lighten-4">{{ site['description'] }}</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Enlaces de interés</h5>
          <ul>
            <li><a class="white-text" href="#">Programación</a></li>
            <li><a class="white-text" href="#">Ministerios</a></li>
            <li><a class="white-text" href="#">Música</a></li>
            <li><a class="white-text" href="#">Inscripciones</a></li>
            <li><a class="white-text" href="#">Acerca de</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Contactos</h5>
          <ul>
            <li><a class="white-text" href="{{ site['facebook'] }}">Facebook</a></li>
            <li><a class="white-text" href="{{ site['instagram'] }}">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col l6 s12 m6">
              Made by <a target="_blank" class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>

            <div class="col l6 s12 m6">
                Copyright © 2018 <a class="orange-text text-lighten-3">Jammpaz, Quito-Ecuador</a>. Powered by <a target="_blank" href="#" class="orange-text text-lighten-3">Flask</a>
            </div>
          </div>
        </div>
    </div>
</footer>
