<header>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo" href="{{ site['home']['url'] }}">
        <img src="{{ "/static/img/logo.png" }}" class="responsive-img" alt="Logo">
      </a>


      <ul id="dropdown-menu" class="dropdown-content">
        <li>
          <a href="{{ url_for('main.index_inscripcion') }}">
            <span class="red-text text-darken-1">{{ site['inscripciones']['name'] }}</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('preventa.list_preventa_camisetas') }}">
            <span class="red-text text-darken-1">{{ site['preventa']['name'] }}</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('auth.logout') }}">
            <span class="red-text text-darken-1">{{ site['logout']['name'] }}</span>
          </a>
        </li>
      </ul>

      <ul class="right hide-on-med-and-down">
        <li>
          <a href="{{ site['home']['url'] }}">
            <span class="red-text text-darken-1">{{ site['home']['name'] }}</span>
            <i class="material-icons right icon-red">home</i>
          </a>
        </li>

        {% if current_user.is_authenticated %}
        <li>
          <a class="dropdown-button" data-constrainWidth="false" data-activates="dropdown-menu">
            <span class="red-text text-darken-1">Menu</span>
            <i class="material-icons right icon-red">arrow_drop_down</i>
          </a>
        </li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li>
          <a href="{{ site['home']['url'] }}">
            <span class="red-text text-darken-1">{{ site['home']['name'] }}</span>
          </a>
        </li>

        {% if current_user.is_authenticated %}
        <li>
          <a href="{{ url_for('main.index_inscripcion') }}">
            <span class="red-text text-darken-1">{{ site['inscripciones']['name'] }}</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('preventa.list_preventa_camisetas') }}">
            <span class="red-text text-darken-1">{{ site['preventa']['name'] }}</span>
          </a>
        </li>

        <li>
          <a href="{{ url_for('auth.logout') }}">
            <span class="red-text text-darken-1">{{ site['logout']['name'] }}</span>
          </a>
        </li>
        {% endif %}
      </ul>

      <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons icon-red">menu</i></a>
    </div>
  </nav>
</header>
